<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wowpp_setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="wowpp_setup.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <wowpp_setup.Properties.Settings>
            <setting name="OpenSSLURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/Win64OpenSSL-1_0_2o.exe</value>
            </setting>
            <setting name="MySQLURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/mysql-connector-c-6.1.11-winx64.msi</value>
            </setting>
            <setting name="ProtobufURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/protobuf.zip</value>
            </setting>
            <setting name="BoostURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/boost.zip</value>
            </setting>
            <setting name="QtURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/qt-unified-windows-x86-3.0.2-online.exe</value>
            </setting>
            <setting name="OgreURL" serializeAs="String">
                <value>http://85.25.119.181/wowpp-deps/OgreSDK.zip</value>
            </setting>
        </wowpp_setup.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <wowpp_setup.Properties.Settings>
            <setting name="SrcPath" serializeAs="String">
                <value />
            </setting>
            <setting name="BuildTool" serializeAs="String">
                <value>vs2015</value>
            </setting>
        </wowpp_setup.Properties.Settings>
    </userSettings>
</configuration>